body{
    margin:auto;
    padding:0px;
    height:100%;
    font-family: sans-serif;
    background-color: #F0F0F0;
    /* background-image: url("loginscene.jpg"); */
    /* background-size: cover; */
}
.box{
  margin:auto;
  width:100%;
  height:100%;
  padding:30px;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  background:rgba(11, 234, 241, 0.6);
  text-align:center;

}
.box h1
{
    height:275px;
    color: rgb(240, 207, 23);
    text-transform: uppercase;
    font-weight: 700;
    text-align:center;
}
.box input[type="text"],.box input[type="password"]
{
border: 0;
background: none;
display: block;
margin: 20px auto;
text-align: center;
border:3px solid #0367fd;
padding:14px 10px;
width:300px;
outline: none;
color: white;
border-radius: 24px;
transition:0.25px;
}

.box input[type="text"]:focus,.box input[type="password"]:focus{

width:350px;
border-color: #ffc400ec;

}
.box input[type="submit"]{
border: 0;
background: none;
display: block;
margin: 20px auto;
text-align: center;
border:3px solid #ffc400ec;
padding:14px 35px;
outline: none;
color: white;
border-radius: 24px;
transition:0.25px;
cursor:pointer;
    
}
.box input[type="submit"]:hover{
    background: #ffc400ec;
}
